.side-nav {
  z-index: 9999;
  overflow-y: visible;
}

.side-nav a {
  color: black !important;
  height: 32px;
  line-height: 32px;
}

.side-nav .logo-wrapper,
.side-nav .logo-wrapper a {
  height: 80px;
}

.side-nav .logo-wrapper img {
  padding: 7% 50px;
}

.side-nav .social a {
  padding-right: 0;
}

.side-nav .collapsible > li {
  padding-right: 0;
  border-radius: 0;
}

.side-nav .collapsible a {
  font-size: 17px;
}

.side-nav .collapsible a:hover {
  border-radius: 0;
}

.side-nav .collapsible li a:hover {
  background-color: #4285f4;
  color: white !important;
}

.slide-out {
  transition: 300ms;
  left: 240px !important;
}

.slide-in {
  transition: 300ms;
  left: 0 !important;
}

#sidenav-overlay {
  opacity: 1;
  z-index: 8888;
}
