h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

.btn {
  line-height: 1.25;
}

.site {
  min-height: 100vh;
}

.site a {
  color: black;
}

main {
  flex: 1;
}

.post-list {
  border: 1px solid #dcdcdc;
  box-shadow: 0 -1px 4px #ede7e7;
  margin: 1rem;
  padding: 0.5rem;
}

.streak.streak-lg {
  height: 500px;
}

@media only screen and (min-width: 768px) {
  .extra-margins {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .extra-margins {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
}

@media only screen and (max-width: 374px) {
  .home-image-text {
    font-size: 100%;
  }
}

li .footer-icon {
  width: 1.5rem;
}

.carousel-caption {
  opacity: 0.9;
}

.service-section .glyph-icon {
  padding: 0;
  margin: 0;
  font-family: 'Flaticon';
  font-size: 3rem;
  line-height: 1;
}

.service-section .glyph-icon:before {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .logo-page-top {
    height: 50px;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .logo-page-top {
    height: 100px;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.section-blog-fw .jumbotron {
  margin-top: 0px;
}

@media only screen and (max-width: 768px) {
  .section-blog-fw .img-fluid {
    margin-top: -50px;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-blog-fw .img-fluid {
    margin-top: -60px;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .section-blog-fw .jumbotron {
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-blog-fw .jumbotron {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
}

.h1-responsive {
  font-weight: 300;
}

.nav-tabs {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service-section {
  margin-bottom: 3rem;
}

.excerpt {
  margin-left: 5% !important;
  margin-right: 5% !important;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .hm-black-medium .mask,
  .hm-black-medium .full-bg-img {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (max-width: 768px) {
  .hm-black-medium .mask,
  .hm-black-medium .full-bg-img {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

#testimonials .btn-floating {
  z-index: 1;
  overflow: hidden;
  width: 47px;
  height: 47px;
  padding: 0;
  border-radius: 50%;
  background-color: #a6c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#testimonials .btn-floating i {
  width: inherit;
  font-size: 1.25rem;
  line-height: 47px;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  #testimonials .carousel-item {
    display: block;
  }

  .controls-top {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  #testimonials .carousel-item {
    min-height: 27rem;
  }
}

@media only screen and (max-width: 992px) {
  #testimonials .carousel-item {
    min-height: 40rem;
  }
}

@media only screen and (max-width: 768px) {
  #testimonials .carousel-item {
    min-height: 18rem;
  }
}

.sn-bg-1 {
  background-image: none;
}

hr {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.btn-floating.btn-primary {
  background-color: #007bff;
}
