.navbar {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.navbar-brand {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.nav-link {
  font-size: 17px;
  padding: 7.5px;
  color: #424242 !important;
}

.nav-link.active {
  background-color: #4285f4;
  border-radius: 2px;
  color: white !important;
}

@media only screen and (max-width: 992px) {
  main {
    margin-top: 1.5rem;
  }
  .header-image {
    height: 60px;
  }
  .navbar > .container {
    margin-left: 0;
    margin-right: 0;
    max-width: unset;
  }
}

@media only screen and (min-width: 992px) {
  main {
    margin-top: 3rem;
  }
  .header-image {
    height: 80px;
  }
  .navbar > .container {
    justify-content: space-between;
  }
  .top-nav-collapse {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .scrolling-navbar {
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .scrolling-navbar .navbar-nav > li {
    transition-duration: 1s;
  }
  .top-nav-collapse {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
